.header-row {
  position: relative;
  justify-content: flex-end;
  padding-top: 20px;
}

.header-logo-col {
  @include media-breakpoint-up(md) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}
