.nav-searchbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 78;
  background-color: $white;
  -webkit-box-shadow: 0 .0625rem 0 0 rgba(0, 0, 0, .15);
  box-shadow: 0 .0625rem 0 0 rgba(0, 0, 0, .15);

  .header-search {
    min-height: 150px;
    padding: 16px;
    margin: unset;
    max-width: unset;
  }

  .header-search-form {

    @include media-breakpoint-down(md) {
      margin-top:20px
    }
      .input-group {
      max-width: 480px;
      margin: auto;
    }

    margin: auto;
  }

  .search-suggest-container {
    width: 100%;
    position: unset;
    border: none;
    box-shadow: none;
    transform: none;
    display: flex;
    overflow: auto;
    gap: 30px;
    @include hide-scrollbar();

    &:after {
      display: none;
    }
  }
}

.search-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .header-logo-main {
    position: absolute;
  }

  .search-close-btn {
    margin-left: auto;
  }
}

.search-content-container.is-has-results .js-search-dynamic-default {
  display: none;
}

.search-content-container:not(.is-has-results) .js-search-dynamic-results {
  display: none;
}

.search-content-container {
  margin: 30px 16px;
  display: flex;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  }

.search-constant-links {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.search-content-dynamic {
  position: relative;
  flex: 1;
  padding-right: 20px;
  max-width: calc(100vw - 410px);
  @include media-breakpoint-down(md) {
    max-width: 100vw;
  }
}

.search-content-constant {
  border-left: 1px solid $gray-400;
  padding: 0 20px;
  width: 350px;
flex-shrink: 0;
  @include media-breakpoint-down(md) {
    margin-top: 20px;
    width: unset;
  }
  .search-customer-care-title {
    font-weight: 600;
    text-transform: uppercase;
    font-style: $primary-font-family;
  }

  .search-customer-care {
    background-color: $gray-100;
    padding: 20px;
    height: 100%;
  }

  .search-customer-care-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .search-customer-care-item + .search-customer-care-item {
    margin-top: 10px;
  }

  .search-customer-care-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .icon > svg {
    top: 0;
  }

  .search-customer-care-icon {
    display: flex;
  }

}

//search product
.search-suggest-product {
  border: none;
}

.search-suggest-product-link {
  height: 100%;

  > div {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
    gap: 8px;
  }

  .search-suggest-product-image-container {
    width: 100px;
    height: 100px;

    .search-suggest-product-image {
      max-height: 100px;
      max-width: 100px;
    }
  }
}

.search-suggest-total {
  position: absolute;
  bottom: 0;
  .icon{
    display: none;
  }
  >div{
    gap: 8px;
  }
  .search-suggest-total-link{
    text-decoration: underline;
  }
}