/*
|--------------------------------------------------------------------------
| mixin.scss
|--------------------------------------------------------------------------
| This file defines forms used throughout the project, including:
| - forms
| - checkboxes
| - radio
| - selects
| - search
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| forms
|--------------------------------------------------------------------------
*/
.form-check-input {
  margin-top: 2px;

  &[type="checkbox"] {
    border-radius: 0;

    &:checked {
      --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");

    }

  }

  &:focus {
    box-shadow: none;
  }

  &:checked {
    background-color: $white;
    border-color: $black;
  }

  &[type="radio"] {
    &:checked {
      --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23000'/%3e%3c/svg%3e");
    }
  }
}

.form-control, .form-select{
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0;
  &:focus{
    box-shadow: none;
  }
}

.was-validated .form-control:invalid, .form-control.is-invalid{
  &:focus{
    box-shadow: none;
  }
}