/*
|--------------------------------------------------------------------------
| forms.scss
|--------------------------------------------------------------------------
| This file defines forms used throughout the project, including:
| - forms
| - checkboxes
| - radio
| - selects
| - search
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| forms
|--------------------------------------------------------------------------
*/
.form-check-input{
  margin-top: 2px;
  &[type="checkbox"]{
  border-radius: 0;
}
  &:focus{
    box-shadow: none;
  }
}