{% sw_extends '@Storefront/storefront/component/product/properties.html.twig' %}

 {% block component_product_properties_container %}
     <div class="row product-detail-properties-container">
         <div class="col">
             {% block component_product_properties_table %}
                {{ parent() }}
             {% endblock %}
         </div>
     </div>
 {% endblock %}